[submodule "thirdparty/AVA_Dataset"]
	path = thirdparty/AVA_Dataset
	url = https://github.com/yjh0410/AVA_Dataset
[submodule "thirdparty/qai_appbuilder"]
	path = thirdparty/qai_appbuilder
	url = https://github.com/qualcomm/qai-appbuilder
